<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--<xacro:include filename="$(find bound_mpc)/models/inertia_tensors.xacro"/>-->
  <xacro:include filename="iiwa14.xacro" />

  <xacro:property name="M_PI" value="3.1415926535897931" />
  
  <xacro:macro name="robot_base" params="name parent">
        
    <!-- base_link -->
    <link name="${parent}"/>

    <!-- kuka robot -->
    <xacro:iiwa14 robot_name="iiwa" parent="${parent}">
      <origin xyz="0 0 0" rpy="0 0 ${M_PI/2}" />
      <!-- <origin xyz="1.485 0.5741 1.9632 " rpy="0 ${M_PI} 0" /> -->
    </xacro:iiwa14>

     
  </xacro:macro>
</robot>
